* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Arial';
  font-size: 13px;
  overflow-x: hidden;
}

header {
  height: 100px;
  background-color: #000000;
  color: #fff;
}

.header {
  display: flex;
  max-width: 1140px;
  height: 100px;
  margin: auto;
  align-items: center;
}

.logo {
  width: 100px;

}

.logoimg {
  width: 80px;
  height: 80px;
  background-color: #b28756;
  border-radius: 40px;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}


.menu ul,
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
}

.menu li a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  border-bottom: 5px solid #000000;
  display: flex;
  height: 100px;
  align-items: center;
}

.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid #b28756;
  color: #7e7a7aea;
}

.butom {
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  background-color: #b28756;
  text-decoration: none;
  color: #fff;
  margin-top: 30px;
  border-radius: 20px;
}

.banner {
  background-color: #333;
  height: calc(100vh - 100px);
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 1000vh;
  height: 100%;
}

.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75);
}

.banner .slidearea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
}

.slidearea h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.slidearea span {
  color: #b28756;
}

.slidearea h2 {
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  height: 15px;
  width: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.banner .pointer.active {
  background-color: #b28756;
}

.default {
  padding-top: 50px;
  padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.default .section-title {
  font-size: 20px;
}

.default .section-desc {
  font-size: 12px;
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 40px;
}

.default .section-body {
  margin: auto;
  max-width: 1140px;
}

.default.light {
  background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body {
  color: #000000;
}

.default.light .section-title {
  font-weight: bold;
}

.default.dark {
  background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
  color: #fff;
}

/*CSS ÁREA ESPECÍFICA ABOUT US*/

.section-aboutus {
  display: flex;
}

.section-aboutus--left {
  flex: 1;

}

.section-aboutus--left p {
  font-size: 14px;
  line-height: 25px;
}

.section-aboutus--right {
  width: 520px;
  text-align: center;

}

.section-aboutus--right img {
  width: 480px;
  box-shadow: 3px 5px 10px #333;
}

/*CSS AREA ESPECIFICA SERVICES */

.section-services {
  display: flex;
}

.section-service {
  flex: 1;
  border-right: 1px solid #b28756;
  text-align: center;
  padding: 15px;

}

.section-service h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 15px;
}

.section-service p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}

.section-service:first-child {
  border-left: 1px solid #b28756;
}


/*CSS AREA ESPECIFICA PROJECTS  */

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects--filters {
  background-color: #ededed;
  display: inline-block;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 0px 30px;
  border: 1px solid #cfcfcf;

}

.section-projects--filters li,
.section-projects-- ul {
  list-style: none;

}

.section-projects--filters li {
  display: inline-block;
  padding: 10px;
  border-left: 1px solid #cfcfcf;
  ;
  border-bottom: 3px solid #ededed;
  font-size: 13px;
  cursor: pointer;


}

.section-projects--filters li:first-child {
  border-left: 0px;
}

.section-projects--filters li:hover,
.section-projects--filters .active {
  border-bottom: 3px solid #b28756;
}

.section-projects--photos {
  width: 100vw;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.section-projects--photo {
  width: 280px;
}

.section-projects--photoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
}

.section-projects--photoarea img {
  width: inherit;
  height: inherit;
}

.section-projects--photoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: inherit;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.section-projects--photoinfo h5 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
  display: flex;
}



/*CSS ESPECIFICO OUR TEAM */

.bg-team {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
}

.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-team {
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}

.section-team .sliders {
  width: 1000vw;
  height: 100%;
}

.section-team .slide {
  width: 280px;
  min-height: 300px;
  display: inline-block;
  background-color: #fff;
  margin-right: 20px;
}

.section-team .slidearea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  height: 100%;
  padding: 20px;
}

.section-team-area .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-team-area .pointer {
  height: 15px;
  width: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.section-team-area .pointer.active {
  background-color: #b28756;
}

.section-team--avatar {
  width: 150px;
  height: auto;
}

.section-team--name {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
}

.section-team--role {
  font-size: 14px;
  margin-top: 5px;
  color: #999;
}

.section-team--social {
  display: flex;
  margin-top: 20px;
}

.section-team--social a {
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ccc;
  border-radius: 13px;
  margin-right: 10px;
}

.section-team--social a:hover {
  background-color: #b28756;
}


/*CSS ESPECIFICO CLIENTS */

.default.light.clients {
  background-color: #ededed;
}

.section-clients {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.section-client--avatar {
  width: 150px;
  height: auto;
}

.section-client--name {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
}

.section-client--role {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  color: #000;
}

.section-clients img {
  margin: 20px;
}

.section-client--testimonial {
  max-width: 880px;
  margin: auto;
  text-align: center;
  line-height: 25px;
}

.clients .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.clients .pointer {
  height: 15px;
  width: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.clients .pointer.active {
  background-color: #b28756;
}




/*CSS ESPECIFICO PARA BRANDS */

.default.light.brands {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.brands .section-body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  margin: auto;
}

.brands .brand {
  margin: 0px 25px;
}

/*CSS AREA ESPECIFICA PRICES */

.default.light.price{
  background-color: #ededed;
}
.section-price {
  overflow: hidden;
  max-width: 980px;
  margin: auto;
}

.section-price .prices {
  width: 1140px;
  height: 100%;
  align-items: center;
}

.section-price .price {
  align-items: center;
  justify-content: center;
  width: 230px;
  min-height: 300px;
  display: inline-flex;
  background-color: #fff;
  margin-right: 20px;
}


.pricearea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricearea-model,
.pricearea-frequency{
  text-transform: uppercase;
  font-weight: 600;
}

.pricearea-model{
  font-size: 15px;
  margin: 15px 0;
}

.pricearea-cash {
  font-size: 30px;
  font-weight: bold;
}

.pricearea-frequency {
  font-size: 10px;
  color: #c4c4c4;
  margin-bottom: 10px;
}
.pricearea-desc{

  height: 100%;
  width: 100%;

}

.pricearea-desc p{
  font-weight: 400;
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  color: #7e7e7e;

}

.butom.choose{
  background-color:#373737;
  margin-bottom: 20px;
}

.butom.choose:hover,
.butom.choose.active{
  background-color:#b28756;
}






/* CSS ESPÉCIFICOS BOOKS */

.section-body.books{
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-books{
  display: flex;
}

.section-book--content{
  margin-left: 50px;
}
.section-book--content p{
  font-size: 14px;
  margin-left: 65px;
  line-height: 25px;
  color: #8f8f8f;
  padding-bottom: 30px;
  
}
.section-book--content .order{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.section-book--content img{
  margin-right: 25px;
}

.books .sliders-pointers {
  margin-top: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.books .pointer {
  height: 15px;
  width: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.books .pointer.active {
  background-color: #b28756;
}



 /* CSS ESPECIFICO SOME FACTS */

.section-facts {
  display: flex;
}

.section-fact {
  flex: 1;
  text-align: center;
  padding: 15px;

}
.section-fact h2 {
  color: #b28756;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}
.section-fact h4 {
  text-transform: uppercase;
  font-size: 15px;
}
.stick{
  display: inline-flex;
  height: 2px;
  width: 20px;
  background-color: #999;
}
.section-fact p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}


 /* CSS ESPECIFICO TELL ABOUT US */

.default.light.us{
  border-bottom: 1px solid #cfcfcf;
}
.us{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.minitext{
  font-size: 12px;
  color: #afafaf;
  margin-left: 3px;
  font-weight: 600;
}
.tellabout{
  font-size: 16px;
  color: #afafaf;
  margin-left: 10px;
  font-weight: 600;
}
.section-body.us a{
  width: 30px;
  height: 30px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.icontw{
  background-color: #33c4f0;
}

.iconlink{
  background-color: #137cb5;
}

.iconface{
  background-color: #33629a;
}

.icongg{
  background-color: #e64236;
}

.iconpin{
  background-color: #b71b29;
}


/* CSS ESPECIFICO CONTACT US */ 

.default.light.contact{
  background-color: #f7f7f7;
}
.section-body.contact{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.section-contact form{
  display: flex;
  flex-wrap: wrap;
 
}

.section-contact .formulario input[placeholder]{
  text-transform: uppercase;
  padding-bottom: 10px;
}

.section-contact .formulario input{
  outline: 0;
  border: 0;
  border-bottom: 2px solid #aeaeae;
  margin-left: 20px;
  background-color: inherit;
  max-width: 1080px;
}

.formulario #name,
.formulario #email{
  width: 530px;
}

.formulario #subject,
.formulario #menssage{
  width: 1080px;
  margin-top: 40px;
}

/* CSS ESPECIFICO MAPA */

.section-map{
  background-image: url('../images/mapa.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-map--area{
  width: 100vw;
  max-width: 1140px;
  margin: auto;
}

.section-map--info{
  width: 50%;
  padding: 30px;
  background-color: #fff;
  color: #000;

}

.section-map--info-item{
  display: flex;
  align-items: center;
  color: #999;
  margin-bottom: 10px;
}

.section-map--info-item-img{
  width:30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #999;
  border-radius: 15px;
  margin-right: 15px;
}

.section-map--info-item-img img{
  width: 20px;
  height: auto;
}

/* CSS ESPECIFICO FOOTER */

.section-footer {
  display: flex;
}

.section-footerarea1 {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 300px;
  

}
.section-footerarea2 {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 300px;
  margin-left: 40px;
  margin-right: 40px;
  

}

.section-footerarea1 .section-footerarea1--img{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #373737;
  margin: 8px;
}

.section-footerarea1--img.active,
.section-footerarea1--img:hover{
  background-color: #b28756;
}
.section-footerarea3{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #373737;
}


.section-footerarea3 .formulario input[placeholder]{
  text-transform: uppercase;
  padding-bottom: 10px;
}

.section-footerarea3 .formulario input{
  outline: 0;
  border: 0;
  border-bottom: 2px solid #aeaeae;
  margin-left: 20px;
  background-color: inherit;
  max-width: 1080px;
}